/*por defecto*/ 

*{
    margin: 0;
    padding: 0;
}

.container{
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    padding-left: 14px;
    padding-right: 14px;
}


body{
	background-image:url(img/maxresdefault.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.fa{
	font-size: 40px;
}



/*Seccion 1*/

header{
 display: inline-block;
 border-radius: 3px;
 box-shadow: 0 1px 1px rgba(0,0,0,.1);
 background-color: rgba(255,255,255,.3);
 color: rgba(255,255,255,.5);
 padding-right: 30px;
 padding-left: 8px;
 border: none;
 font-size: 13px;
 height: 60px;
 min-height: 30px;
 box-sizing: border-box;
 position: absolute;
 width:100%;
}

.buscador{
	 display: inline-block;

}


ul li {
	display: inline-block;
	list-style: none;
	padding: 5px;
	border-radius: 10px;
	color: #FFFFFF;
}

a{
	text-decoration:none;
	color: #FFFFFF;
	text-align: center;
}

       
.tablero{
	background-color: #000000;
	width: 80px;
	padding: 10px;
	height: 20px;
	margin: 10px;


}

.tablero-1-5 {
	color: #000000;
	font-size: 30px;
	font-family: 'Righteous', cursive;
	text-align: center;
}


     /*Iconos Final*/

.tablero2{
	float: right;
	color: #FFFFFF;
	background-color: #C5C1E6;
	border-radius: 5px;
	margin:5px;
	margin-top: 20px;

}

.cajita{
	width: 400px;
	height: 100px;
	background-color:#FFFFFF;
	font-family: 'Exo 2', sans-serif;
	display: inline-block;

}

